# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# Node (au cas où)
node_modules/
package-lock.json

# Local
*.local
.env
.env.local
